/* FONTY 
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; 
*/


/* COLORS
color: #FFFFFF;
color: #00000029;
color: #000000;
color: #08A6E4;
color: #A5A5A5;
color: #07ACE629; - main color blue
color: #FB3B64;
color: #55DFB4;
color: #F7F7F7;
color: #E8E9ED;
color: #07ACE6;
color: #F9043629;
color: #13253B;
color: #EB476E;
color: #FF091129;
color: #95989A;
color: #707070 ;
*/

:root {
    --main-color: #08A6E4;
    --color-red: #FB3B64;
    --color-green: #55DFB4;
    --color-white: #FFF;
}

* {
    box-sizing: border-box;
}

.btn {
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--main-color);
    font-family: Open Sans;
    font-weight: 700;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}

/* ELEMENTY HTML */

header {
    font-family: Open Sans;
  
}
.nav_bar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_bar {
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
}

.nav_logo_text {
    color: var(--main-color);
    font-size: 32px;
    line-height: 37px;
    font-weight: 300;
    font-family: Raleway;
}

.navigation_list {
    display: flex;
    align-items: center;
}

.navigation_text {
    max-height: 70px;
    text-decoration: none;
    padding: 28px 12px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    font-weight: 700; 
    letter-spacing: 3.28px;
    color: #A5A5A5;
    margin-left: 71px;
}

.navigation_text:hover {
    color: #000;
    border-bottom: solid 4px var(--main-color);
}

.header_content .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

.header_content {
    display: flex;
    flex-direction: column;
}

.header_title {
    font-size: 49px;
    line-height: 57px;
    font-family: Raleway;
    color: #000000;
    margin-bottom: 20px;
}

.header_text {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 38px;
}


.header_btn {
    border-radius: 40px;
    font-size: 16px;
    line-height: 22px;
    box-shadow: 5px 10px 14px #07ACE629;
    padding: 22px 157px;
}

/* STATYSTYKI*/

.statistics {
    font-family: Raleway;
    background-color: var(--color-white);
    box-shadow: 0px -5px 80px #00000029
}

.statistics .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statistics_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 122px;
}

.statistics_title {
    font-size: 36px;
    line-height: 42px;
    margin: 100px 0;
    letter-spacing: 0px;
    color: #000000;
}

.stat_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}


.stat_icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
    height: 63px;
}

.stat_img {
    position: relative;
    z-index: +1;
    left: 50%;
    transition: ease-in-out all 1s;
}

.stat_box:nth-child(2) > .stat_icon img {
    left: 30%
}

.stat_icon:before{
 content: "";
 display: block;
 position: absolute;
 height: 63px;
 width: 63px;
 border-radius: 50%;
 z-index: 0;
 
}

.stat_box:nth-child(1) > .stat_icon img:hover,
.stat_box:nth-child(2) > .stat_icon img:hover,
.stat_box:nth-child(3) > .stat_icon img:hover {
    left: 0%
}

.stat_box:nth-child(1) > .stat_icon:before {
    background-color: var(--color-red);
}

.stat_box:nth-child(2) > .stat_icon:before {
    background-color: var(--main-color);
}

.stat_box:nth-child(3) > .stat_icon:before {
    background-color: var(--color-green);
}

.stat_title {
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 6px;
    color: #000000;
}

.stat_text {
    margin-top: 19px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    color: #A5A5A5;
}

/* BENEFITY */

.benefits_container {
    background-color: #F7F7F7;
    
}

.benefits_container > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 0;

}

.benefits_box {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    height: 370px;
    margin-bottom: 37px;
}

.multiply_benefits_box {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.benefits_content--laptop {
    margin-bottom: 90px;
    margin-left: 35px;
}

.benefits_content--phone {
    margin-bottom: 70px;
    margin-right: 20px;
}

.text-benefits_box--trumpet {
    max-width: 623px;
}

.benefits_box--trumpet, .text-benefits_box--trumpet {
    margin-bottom: 0;
}

.benefits_content--trumpet {
    padding: 70px 35px;
    max-width: none;
}

.benefits_box--trumpet {
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-green);
    border: none;
}

.benefits_title {
    color: #000;
    font-size: 36px;
    line-height: 42px;
    font-family:  Raleway;
    margin-bottom: 30px;
}

.benefits_text {
    max-width: 416px;
    font-size: 16px;
    line-height: 22px;
    font-family: Open Sans;
    color: #000000;
    position: relative;
}

.benefits_box--phone {
    flex-direction: row-reverse;
}

.benefits_text::after {
    content: "";
    width: 328px;
    height: 4px;
    display: block;
    background-color: var(--main-color);
    margin-top: 50px;
}

.benefits_content--laptop > .benefits_text::after  {
    background-color: var(--color-red);
}
.benefits_content--phone > .benefits_text::after  {
    background-color: var(--main-color);
}
.benefits_content--trumpet > .benefits_text::after  {
    background-color: var(--color-green);
}

.benefits_img img{
    position: relative;
}

.benefits_img {
    position: relative;
}

.benefits_img::before {
    content: "";
    position: absolute;
    display: block;
}

.benefits_img--laptop::before {
    width: 180px;
    height: 180px;
    background-color: var(--color-red);
    border-radius: 41px;
    transform: rotate(40deg);
    right: 0;
    top: -30px;
}

.benefits_img--phone::before {
    background-color: var(--main-color);
    width: 320px;
    height: 320px;
    border-radius: 50%;
    top: -30px;
}

.benefits_img--phone {
    margin-left: 70px;
    margin-top: 29px;
}

.benefits_img--laptop {
    margin-right: 118px;
    margin-bottom: 38px;
}

.benefits_box--laptop img {
    max-height: 219px;
}
.benefits_box--phone img {
    max-width: 426px;
}
.benefits_box--trumpet img{
    max-width: 296px;
    margin-top: 50px;
}