:root {
    --main-color: #08A6E4;
    --color-red: #FB3B64;
    --color-green: #55DFB4;
    --color-white: #FFF;
    --font-raleway: Raleway, sans-serif;
    --font-open-sans: Open Sans, sans-serif;
    --color-black: #000;
    --color-light-gray: #A5A5A5;
    --shadow-color: #07ACE629;
}

* {
    box-sizing: border-box;
    cursor:default;
}

.btn {
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--main-color);
    font-family: var(--font-open-sans);
    font-weight: 700;
    cursor:pointer;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}

.basic_title {
    font-family: var(--font-raleway);
    font-size: 36px;
    line-height: 42px;
    color: var(--color-black);
}

.logo {
    font-weight: 300;
    font-family: var(--font-raleway);
    color: var(--main-color);
}

/* ELEMENTY HTML */

header {
    font-family: var(--font-open-sans);
  
}
.nav_bar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_bar {
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
}

.nav_logo_text {
    font-size: 32px;
    line-height: 37px;
}

.navigation_list {
    display: flex;
    align-items: center;
}

.navigation_text {
    max-height: 70px;
    text-decoration: none;
    padding: 28px 12px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    font-weight: 700; 
    letter-spacing: 3.28px;
    color: var(--color-light-gray);
    margin-left: 71px;
}

.navigation_text:hover {
    color: var(--color-black);
    border-bottom: solid 4px var(--main-color);
}

.header_content .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

.header_content {
    display: flex;
    flex-direction: column;
}

.header_title {
    font-size: 49px;
    line-height: 57px;
    font-family: var(--font-raleway);
    color: var(--color-black);
    margin-bottom: 20px;
}

.header_text {
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black);
    margin-bottom: 38px;
}


.header_btn {
    border-radius: 40px;
    font-size: 16px;
    line-height: 22px;
    box-shadow: 5px 10px 14px var(--shadow-color);
    padding: 22px 157px;
}


/* STATYSTYKI*/

.statistics {
    font-family: var(--font-raleway);
    background-color: var(--color-white);
    box-shadow: 0px -5px 80px #00000029
}

.statistics .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statistics_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 122px;
}


.statistics_title {
    margin: 100px 0;
    
}

.stat_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}


.stat_icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
    height: 63px;
}

.stat_img {
    position: relative;
    z-index: +1;
    left: 50%;
    transition: ease-in-out all 1s;
}

.stat_box:nth-child(2) > .stat_icon img {
    left: 30%
}

.stat_icon:before{
 content: "";
 display: block;
 position: absolute;
 height: 63px;
 width: 63px;
 border-radius: 50%;
 z-index: 0;
 
}

.stat_box:nth-child(1) > .stat_icon img:hover,
.stat_box:nth-child(2) > .stat_icon img:hover,
.stat_box:nth-child(3) > .stat_icon img:hover {
    left: 0%
}

.stat_box:nth-child(1) > .stat_icon:before {
    background-color: var(--color-red);
}

.stat_box:nth-child(2) > .stat_icon:before {
    background-color: var(--main-color);
}

.stat_box:nth-child(3) > .stat_icon:before {
    background-color: var(--color-green);
}

.stat_title {
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 6px;
    color: var(--color-black);
}

.stat_text {
    margin-top: 19px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-light-gray);
}

/* BENEFITY */

.benefits_container {
    background-color: #F7F7F7;
    
}

.benefits_container > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 0;

}

.benefits_box {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    height: 370px;
    margin-bottom: 37px;
}

.multiply_benefits_box {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.benefits_content--laptop {
    margin-bottom: 90px;
    margin-left: 35px;
}

.benefits_content--phone {
    margin-bottom: 70px;
    margin-right: 20px;
}

.text-benefits_box--trumpet {
    max-width: 623px;
}

.benefits_box--trumpet, .text-benefits_box--trumpet {
    margin-bottom: 0;
}

.benefits_content--trumpet {
    padding: 70px 35px;
    max-width: none;
}

.benefits_box--trumpet {
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-green);
    border: none;
}

.benefits_title {
    color: var(--color-black);
    font-size: 36px;
    line-height: 42px;
    font-family: var(--font-raleway);
    margin-bottom: 30px;
}

.benefits_text {
    max-width: 416px;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-open-sans);
    color: var(--color-black);
    position: relative;
}

.benefits_box--phone {
    flex-direction: row-reverse;
}

.benefits_text::after {
    content: "";
    width: 328px;
    height: 4px;
    display: block;
    background-color: var(--main-color);
    margin-top: 50px;
}

.benefits_box--laptop:hover .benefits_img--laptop::before {
    transform: rotate(130deg);
}

.benefits_box--phone:hover .benefits_img--phone::before {
    transform: scale(0.9);
    box-shadow: inset 0 10px 50px var(--color-black);
    top: -20px;
    border-radius: 40%;
}

.benefits_content--laptop > .benefits_text::after  {
    background-color: var(--color-red);
}
.benefits_content--phone > .benefits_text::after  {
    background-color: var(--main-color);
}
.benefits_content--trumpet > .benefits_text::after  {
    background-color: var(--color-green);
}

.benefits_img img{
    position: relative;
}

.benefits_img {
    position: relative;
}

.benefits_img::before {
    content: "";
    position: absolute;
    display: block;
}

.benefits_img--laptop::before {
    width: 180px;
    height: 180px;
    background-color: var(--color-red);
    border-radius: 41px;
    transform: rotate(40deg);
    right: 0;
    top: -30px;
    transition: all 5s;
}

.benefits_img--phone::before {
    background-color: var(--main-color);
    width: 320px;
    height: 320px;
    border-radius: 50%;
    top: -30px;
    transition: all 2s;
}

.benefits_img--phone {
    margin-left: 70px;
    margin-top: 29px;
}

.benefits_img--laptop {
    margin-right: 118px;
    margin-bottom: 38px;
}

.benefits_box--laptop img {
    max-height: 219px;
}
.benefits_box--phone img {
    max-width: 426px;
}
.benefits_box--trumpet img{
    max-width: 296px;
    margin-top: 50px;
}

/* PRICING */

.pricing_main_box {
    background-color: var(--color-white);

}

.pricing_main_box .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing_main_title {
    margin-top: 100px;
    margin-bottom: 71px;
}

.pricing_boxes_container {
    display: flex;
    justify-content: space-between;
    gap: 59px;
    margin-bottom: 197px;
}

.pricing_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 372px;
    height: 461px;
    background-color: var(--color-white);
    border: 1px solid;
    border-radius: 18px;
    font-family: var(--font-open-sans);
    position: relative;
}

.pricing_box_title {
    margin-top: 34px;
    margin-bottom: 14px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1px;
    font-family: var(--font-raleway);
    color: #13253B;
}

.pricing_box_price {
    display: inline-block;
    padding: 9px;
    margin-top: 14px;
    font-size: 46px;
    font-weight: 300;
    margin-bottom: 70px;
    
}

.parametr_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parametr_list li {
    font-size: 14px;
    line-height: 41px;
    color: var(--color-black);
    position: relative;
    display: inline-block;
}

.check_mark {
    position: relative;
}

.check_mark::before {
    content: url(../images/Checkmark-1.svg);
    margin-right: 10px;
}

.cross_mark::before {
    content: url(../images/Close.svg);
    margin-right: 10px ;
}

.cross_mark::before, 
.check_mark::before {
    margin-right: 10px;
}

.btn_pricing {
    padding: 4px 57px;
    border-radius: 23px;
    position: absolute;
    bottom: -25px;
    font-size: 13px;
    line-height: 41px;
    transition: ease-out all 500ms;
}

.btn_pricing:hover {
    scale: 1.05;
    border-radius: 15px;
}

.pricing_box_price--special {
    margin-bottom: 0;
}

.pricing_special_offert {
    margin-top: 5px;
    margin-bottom: calc(70px - 24px);
    font-size: 12px;
    font-weight: 700;
    font-family: var(--font-raleway);
    color: #13253B;
}

.pricing_box--basic {
    border: 1px solid var(--color-red);
}

.pricing_box_price--basic {
    color: var(--color-red);
}

.btn_pricing--basic {
    background-color: var(--color-red);
}

.pricing_box--profesional {
    border: 1px solid var(--main-color);
}

.pricing_box_price--profesional {
    color: var(--main-color);
}

.btn_pricing--profesional {
    background-color: var(--main-color);
}

.pricing_box--premium {
    border: 1px solid var(--color-green);
}

.pricing_box_price--premium {
    color: var(--color-green);
}

.btn_pricing--premium {
    background-color: var(--color-green);
}

.pricing_box--zoom {
    transform: scale(1.08);
    box-shadow: 5px 10px 27px var(--shadow-color);
}

/* CONTACT FORM */


.contact_main_box .container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 59px;
    width: 900px;
}

.information_box {
    display: flex;
    flex-direction: column;
}

.info_data_box {
    display: flex;
    justify-content: space-between;
}

.info_data {
    display: flex;
    align-items: center;
    margin-top: 42px;
}

.info_text {
    margin-left: 10px;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-open-sans);
    font-weight: 600;
    color: var(--color-light-gray);
}


.information_title {
    font-size: 49px;
    line-height: 57px;
    color: var(--color-black);
    font-family: var(--font-raleway);
}

.information_text {
    margin-top: 22px;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-open-sans);
    color: var(--color-black);
}

.contact_form {
    display: flex;
    flex-direction: column;
    max-width: 440px;
}

.contact_form_input {
    outline: none;
    border: none;
    border-bottom: 2px solid var(--color-light-gray);
    height: 40px;
    margin-bottom: 30px;
    color: var(--main-color);
}

.contact_label[for="E-mail"] {
    margin-top: 12px;
}

.contact_label {
    color: var(--main-color);
    font-size: 11px;
    line-height: 15px;
    font-weight: 700;
    font-family: var(--font-open-sans);
    text-transform: uppercase;
    letter-spacing: 3.28px;
}

 .checkbox_lable input {
    width: 0;
    height: 0;
}
.checkbox_lable_text {
    font-size: 12px;
    line-height: 17px;
    font-family: var(--font-open-sans);
    color: #707070;
}


.checkbox_lable {
    margin-left: 34px;
    position: relative;
}

.checkbox_lable input::before {
    content: "";
    width: 24px;
    height: 24px;
    border: 1px solid #95989A;
    border-radius: 4px;
    position: absolute;
    left: -34px;
    top: 0;
}

.checkbox_lable input:checked::before {
    background-image: url(../images/Checkmark.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
}

.form_btn {
    align-self: flex-end;
    margin-top: 20px;
    box-shadow: 5px 10px 14px var(--shadow-color);
    border-radius: 35px;
    padding: 20px 97px;
    border: none;
    transition: all 1s;
}

.form_btn:hover {
    opacity: 0.8;
    transform: scale(0.95);
}

/* FOOTER */

.page_footer {
    background-color: #F7F7F7;
    box-shadow: 0px -5px 40px #00000029;
}

.page_footer .container {
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_footer_text {
    font-size: 26px;
    line-height: 30px;
}

.copyright {
    font-size: 11px;
    line-height: 15px;
    font-family: var(--font-open-sans);
    letter-spacing: 0px;
    color: var(--color-light-gray); 
}

.footer_icon {
   margin: 0 10px; 
   opacity: 0.7;
}

.footer_icon:hover {
    opacity: 1.0;
}