@use "../settings/colors";
@use "../settings/fonts";
@use "../settings/variables";
@use "../settings/mixins";
@use "sass:list";


.benefits_container {
    background-color: #F7F7F7;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 100px 0;

        @include mixins.mobile {
            padding: 40px 30px;
        }
        
        .benefits_box {
            width: 100%;
            display: flex;
            align-items: end;
            justify-content: space-between;
            background-color: colors.$color-white;
            border: 1px solid #E8E9ED;
            border-radius: 5px;
            height: 370px;
            margin-bottom: 37px;



            &--laptop {
            img {
                max-height: 219px;
            }
            }

            &--phone {
                flex-direction: row-reverse;                
                img {
                    max-width: 426px;
                }
            }

            &--trumpet {
                max-width: 40%;
                margin-left: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: colors.$color-green;
                border: none;
                margin-bottom: 0;
                
                img {
                    max-width: 296px;
                    margin-top: 50px;
                }    
            }
            

            .benefits_img {
                position: relative;
                
                &--laptop {
                    margin-right: 118px;
                    margin-bottom: 38px;
                    &::before {
                        width: 180px;
                        height: 180px;
                        background-color: colors.$color-red;
                        border-radius: 41px;
                        transform: rotate(40deg);
                        right: 0;
                        top: -30px;
                    }
    
                }
                
                &--phone {
                    position: relative;
                    margin-left: 70px;
                    margin-top: 29px;

    
                    &::before {
                        background-color: colors.$main-color;
                        width: 320px;
                        height: 320px;
                        border-radius: 50%;
                        top: -30px;
                    }
                }
               
                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                }
               
                img {
                    position: relative;
                }
            }            

            .benefits_title {
                color: colors.$color-black;
                font-size: 36px;
                line-height: 42px;
                font-family: fonts.$font-raleway;
                margin-bottom: 30px;
            }
            
            .benefits_text {
                max-width: 416px;
                font-size: 16px;
                line-height: 22px;
                font-family: fonts.$font-open-sans;
                color: colors.$color-black;
                position: relative;
               
                &::after {
                    content: "";
                    width: 328px;
                    height: 4px;
                    display: block;
                    background-color: colors.$main-color;
                    margin-top: 50px;
                }
            }
            .benefits_content {
                &--laptop {
                    margin-bottom: 90px;
                    margin-left: 35px;
                    
                    .benefits_text::after  {
                        background-color: colors.$color-red;
                    }
                }
                &--phone {
                    margin-bottom: 70px;
                    margin-right: 20px;
                
                    .benefits_text::after  {
                        background-color: colors.$main-color;
                    }
                }

            }
            @include mixins.mobile {
                display: flex;
                height: fit-content;
                justify-content: center;
                padding-top: 50px;
                padding-bottom: 50px;
                flex-direction: column-reverse;
                align-items: center;
                margin-bottom: 40px;
                &--trumpet {
                    max-width: 100%;
                    margin: 0;
                }
                       .benefits_img {
                        display: flex;
                        align-items: center;
                        margin: 0;
                        margin-bottom: 27px;
                        &--laptop {
                            &::before {
                                width: 90px;
                                height: 90px;
                                border-radius: 20px;
                                top: -10px;
                            }
                        img {
                            width: 175px;
                        }
                    }
                    &--phone {
                        &::before {
                            width: 130px;
                            height: 130px;       
                            top: -10px                                             
                        }
                    img {
                        width: 175px;
                    }
                }
                    
                }
                .benefits_content {
                    margin: 0;
                    padding: 0 22px;
                }
                .benefits_text::after {
                    display: none;
                }
            }
        }

        .multiply_benefits_box {
            width: 100%;
            justify-content: space-between;
            display: flex;

            .text-benefits_box--trumpet {
                margin-bottom: 0;
                
                .benefits_content--trumpet {
                    padding: 70px 35px;
                    max-width: none;

                    .benefits_text::after  {
                        background-color: colors.$color-green;
                    }
                }
            }
            @include mixins.mobile {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: fit-content;
                .benefits_box--trumpet {
                    max-height: 200px;
                    img {
                        top: 25px;
                    }
                }
                .text-benefits_box--trumpet {
                    .benefits_content--trumpet {
                        margin: 0;
                        padding: 0 22px;
                    }
                }
            }
        }
    }   
}

